.form {
    display: flex;
    flex-direction: column;
}

.fini {
    text-align: center;
}

.cent {
    left: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: center;
}

h1 {
    align-text: center;
}
